<%= form_with(model: @task, local: true, url: choose_new_or_edit  ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_name">
    <%= form.label "名前"%>
    <%= form.text_field :name %>
  </div>
  <div class="task_detail">
    <%= form.label "詳細" %>
    <%= form.text_area :detail %>
  </div>
  <div class="task_detail">
    <%= form.label "日付" %>
    <%= form.date_field :termination_date %>
  </div>
  <div>
    <%= form.label "status" %>
    <%= form.select :status, Task.statuses.keys.to_a, {} %>
  </div>
  <div>
    <%= form.label "priority" %>
    <%= form.select :priority, Task.priorities.keys.to_a, {} %>
  </div>

   <div>
    <%= form.label "label" %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to '一覧画面に戻る', tasks_path %>

