<h1>詳細画面</h1>
<p>名前: <%= @task.name %></p>
<p>詳細: <%= @task.detail %></p>
<p>詳細: <%= @task.termination_date %></p>
<p>詳細: <%= @task.status %></p>
<p>詳細: <%= @task.priority %></p>

<%= link_to '戻る', tasks_path %>