<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<table>
<tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>日付</th>
    <th>ステータス</th>
    <th>優先度</th>
    <th>ユーザー名</th>
  </tr>

<% @tasks.each do |task| %>
  <tr class = task_list>
    <td><%= task.name %></td>
    <td><%= task.detail %></td>
    <td><%= task.termination_date %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= task.user.name %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id), class:"btn btn-primary" %></td>
    <td><%= link_to "編集する", edit_task_path(task.id), class:"btn btn-success" %></td>
    <td><%= link_to "削除する", task_path(task.id), method: :delete, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>
<%= link_to 'タスク一覧', tasks_path %>